default_language_version:
  python: python3
exclude: ^(.github/|tests/test_data/abinit/)
repos:
- repo: https://github.com/charliermarsh/ruff-pre-commit
  rev: v0.4.4
  hooks:
  - id: ruff
    args: [--fix]
  - id: ruff-format
- repo: https://github.com/pre-commit/pre-commit-hooks
  rev: v4.6.0
  hooks:
  - id: check-yaml
  - id: fix-encoding-pragma
    args: [--remove]
  - id: end-of-file-fixer
  - id: trailing-whitespace
- repo: https://github.com/asottile/blacken-docs
  rev: 1.16.0
  hooks:
  - id: blacken-docs
    additional_dependencies: [black]
    exclude: README.md
- repo: https://github.com/pre-commit/pygrep-hooks
  rev: v1.10.0
  hooks:
  - id: python-use-type-annotations
  - id: rst-backticks
  - id: rst-directive-colons
  - id: rst-inline-touching-normal
- repo: https://github.com/pre-commit/mirrors-mypy
  rev: v1.10.0
  hooks:
  - id: mypy
    files: ^src/
    additional_dependencies:
    - tokenize-rt==4.1.0
    - types-paramiko
- repo: https://github.com/codespell-project/codespell
  rev: v2.2.6
  hooks:
  - id: codespell
    stages: [commit, commit-msg]
    args: [--ignore-words-list, 'titel,statics,ba,nd,te,atomate']
    types_or: [python, rst, markdown]
