repos:
- repo: https://github.com/pre-commit/pre-commit-hooks
  rev: v4.0.1
  hooks:
  - id: check-yaml
  - id: fix-encoding-pragma
    args:
    - --remove
  - id: end-of-file-fixer
  - id: trailing-whitespace
- repo: https://github.com/myint/autoflake
  rev: v1.4
  hooks:
  - id: autoflake
    args:
    - --in-place
    - --remove-all-unused-imports
    - --remove-unused-variable
    - --ignore-init-module-imports
- repo: https://github.com/psf/black
  rev: 21.12b0
  hooks:
  - id: black
- repo: https://github.com/asottile/blacken-docs
  rev: v1.12.0
  hooks:
  - id: blacken-docs
    additional_dependencies: [black==21.5b0]
    exclude: README.md
- repo: https://github.com/pycqa/isort
  rev: 5.10.1
  hooks:
  - id: isort
    name: isort (python)
    args:
    - --profile=black
- repo: https://gitlab.com/pycqa/flake8
  rev: 3.9.2
  hooks:
  - id: flake8
    files: ^src/
    args:
    - --max-line-length=125
    - --extend-ignore=E203,W503,F401,RST21
    - --min-python-version=3.6.0
    - --docstring-convention=numpy
    - --rst-roles=class,func,ref,obj
    language_version: python3
    additional_dependencies:
    - flake8-typing-imports==1.10.1
    - flake8-docstrings==1.6.0
    - flake8-rst-docstrings==0.2.3
    - flake8-rst==0.8.0
- repo: https://github.com/pre-commit/pygrep-hooks
  rev: v1.9.0
  hooks:
  - id: python-use-type-annotations
  - id: rst-backticks
  - id: rst-directive-colons
  - id: rst-inline-touching-normal
- repo: https://github.com/pre-commit/mirrors-mypy
  rev: v0.910-1
  hooks:
  - id: mypy
    files: ^src/
    args:
    - --no-strict-optional
    - --ignore-missing-imports
    additional_dependencies:
    - tokenize-rt==4.1.0
    - types-pkg_resources==0.1.2
    - types-paramiko
