exclude: ^(src/atomate2/vasp/schemas/calc_types/|tests/test_data/abinit/)
repos:
- repo: https://github.com/pre-commit/pre-commit-hooks
  rev: v4.3.0
  hooks:
  - id: check-yaml
  - id: fix-encoding-pragma
    args:
    - --remove
  - id: end-of-file-fixer
  - id: trailing-whitespace
- repo: https://github.com/myint/autoflake
  rev: v1.4
  hooks:
  - id: autoflake
    args:
    - --in-place
    - --remove-all-unused-imports
    - --remove-unused-variables
    - --ignore-init-module-imports
- repo: https://github.com/psf/black
  rev: 22.6.0
  hooks:
  - id: black
- repo: https://github.com/asottile/blacken-docs
  rev: v1.12.1
  hooks:
  - id: blacken-docs
    additional_dependencies: [black]
    exclude: README.md
- repo: https://github.com/pycqa/isort
  rev: 5.10.1
  hooks:
  - id: isort
- repo: https://gitlab.com/pycqa/flake8
  rev: 3.9.2
  hooks:
  - id: flake8
    entry: pflake8
    files: ^src/
    additional_dependencies:
    - pyproject-flake8==v0.0.1a4
    - flake8-bugbear==22.4.25
    - flake8-typing-imports==1.10.1
    - flake8-docstrings==1.6.0
    - flake8-rst-docstrings==0.2.3
    - flake8-rst==0.8.0
- repo: https://github.com/pre-commit/pygrep-hooks
  rev: v1.9.0
  hooks:
  - id: python-use-type-annotations
  - id: rst-backticks
  - id: rst-directive-colons
  - id: rst-inline-touching-normal
- repo: https://github.com/pre-commit/mirrors-mypy
  rev: v0.971
  hooks:
  - id: mypy
    files: ^src/
    additional_dependencies:
    - tokenize-rt==4.1.0
    - types-pkg_resources==0.1.2
    - types-paramiko
- repo: https://github.com/codespell-project/codespell
  rev: v2.1.0
  hooks:
  - id: codespell
    stages: [commit, commit-msg]
    args: [--ignore-words-list, 'titel,statics,ba,nd,te']
