[build-system]
requires = ["setuptools >= 42", "versioningit ~= 1.0", "wheel"]
build-backend = "setuptools.build_meta"

[project]
name = "atomate2"
description = "atomate2 is a library of materials science workflows"
readme = "README.md"
keywords = ["high-throughput", "automated", "workflow", "dft", "vasp"]
license = { text = "modified BSD" }
authors = [{ name = "Alex Ganose", email = "alexganose@gmail.com" }]
dynamic = ["version"]
classifiers = [
    "Programming Language :: Python :: 3",
    "Programming Language :: Python :: 3.8",
    "Programming Language :: Python :: 3.9",
    "Programming Language :: Python :: 3.10",
    "Development Status :: 5 - Production/Stable",
    "Intended Audience :: Science/Research",
    "Intended Audience :: System Administrators",
    "Intended Audience :: Information Technology",
    "Operating System :: OS Independent",
    "Topic :: Other/Nonlisted Topic",
    "Topic :: Scientific/Engineering",
]
requires-python = ">=3.8"
dependencies = [
    "pymatgen>=2022.8.23",
    "custodian>=2022.5.26",
    "pydantic",
    "monty",
    "jobflow>=0.1.9",
    "PyYAML",
    "numpy",
    "click",
]

[project.optional-dependencies]
amset = ["amset>=0.4.15", "pydash"]
cclib = ["cclib"]
mp = ["mp-api>=0.27.5"]
phonons = ["phonopy>=1.10.8", "seekpath"]
defects = ["pymatgen-analysis-defects>=2022.11.30", "dscribe>=1.2.0"]
docs = [
    "numpydoc==1.5.0",
    "ipython==8.8.0",
    "FireWorks==2.0.3",
    "autodoc_pydantic==1.8.0",
    "jupyter-book==0.13.1",
    "jsonschema[format]",
]
dev = ["pre-commit>=2.12.1"]
tests = ["pytest==7.2.1", "pytest-cov==4.0.0", "FireWorks==2.0.3"]
strict = [
    "pydantic==1.10.4",
    "pymatgen==2023.1.30",
    "custodian==2022.5.26",
    "monty==2022.9.9",
    "jobflow==0.1.9",
    "click==8.1.3",
    "PyYAML==6.0",
    "cclib==1.7.2",
    "phonopy==2.17.1",
    "seekpath==2.0.1",
    "numpy",
    "mp-api==0.30.8",
    "dscribe==1.2.1",
    "pymatgen-analysis-defects==2023.1.30",
]

[project.scripts]
atm = "atomate2.cli:cli"

[project.urls]
homepage = "https://materialsproject.github.io/atomate2/"
repository = "https://github.com/hackingmaterials/atomate2"
documentation = "https://materialsproject.github.io/atomate2/"
changelog = "https://github.com/hackingmaterials/atomate2/blob/main/CHANGELOG.md"

[tool.setuptools.package-data]
atomate2 = ["py.typed"]
"atomate2.vasp.sets" = ["*.yaml"]
"atomate2.vasp.schemas.calc_types" = ["*.yaml"]

[tool.versioningit.vcs]
method = "git"
default-tag = "0.0.1"

[tool.flake8]
max-line-length = 88
max-doc-length = 88
select = "C, E, F, W, B"
extend-ignore = "E203, W503, E501, F401, RST21"
min-python-version = "3.8.0"
docstring-convention = "numpy"
rst-roles = "class, func, ref, obj"

[tool.mypy]
ignore_missing_imports = true
no_strict_optional = true

[tool.pytest.ini_options]
filterwarnings = [
    "ignore:.*POTCAR.*:UserWarning",
    "ignore:.*magmom.*:UserWarning",
    "ignore:.*is not gzipped.*:UserWarning",
    "ignore:.*input structure.*:UserWarning",
    "ignore::DeprecationWarning",
]

[tool.coverage.run]
include = ["src/*"]
parallel = true
branch = true

[tool.coverage.paths]
source = ["src/"]

[tool.coverage.report]
skip_covered = true
show_missing = true
exclude_lines = [
    '^\s*assert False(,|$)',
    'if typing.TYPE_CHECKING:',
    '^\s*@overload( |$)',
]

[tool.ruff]
target-version = "py38"
select = [
    "B",   # flake8-bugbear
    "C4",  # flake8-comprehensions
    "D",   # pydocstyle
    "E",   # pycodestyle
    "F",   # pyflakes
    "I",   # isort
    "PLE", # pylint error
    "PLW", # pylint warning
    "Q",   # flake8-quotes
    "RUF", # Ruff-specific rules
    "SIM", # flake8-simplify
    "TID", # tidy imports
    "UP",  # pyupgrade
    "W",   # pycodestyle
    "YTT", # flake8-2020
]
ignore = [
    "B019",    # functools.lru_cache on methods can lead to memory leaks
    "B023",    # Function definition does not bind loop variable
    "B904",    # Within an except clause, raise exceptions with ...
    "D100",    # Missing docstring in public module
    "D104",    # Missing docstring in public package
    "D105",    # Missing docstring in magic method
    "D107",    # Missing docstring in __init__
    "D200",    # One-line docstring should fit on one line with quotes
    "D205",    # 1 blank line required between summary line and description
    "D212",    # Multi-line docstring summary should start at the first line
    "D415",    # First line should end with a period, question mark, or exclamation point
    "E741",    # tmp: we should fix all ambiguous variable names
    "PLR2004", # Magic number
    "PLW0120", # awaiting bug fix https://github.com/charliermarsh/ruff/issues/3019
    "C408",    # Unnecessary dict call - rewrite as a literal
    "D416",    # Section name should end with a colon
    "SIM105",  # Use contextlib.suppress(socket.gaierror, socket.herror) instead of try-except-pass
]
pydocstyle.convention = "google"
isort.known-first-party = ["atomate2"]

[tool.ruff.per-file-ignores]
"__init__.py" = ["F401"]
"**/tests/*" = ["D"]
