name: build-docs

on:
  workflow_dispatch:
    inputs:
      version:
        description: 'Version to be listed on docs'
        required: true

jobs:

  build-docs:

    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v3
        with:
          ref: ${{ github.event.workflow_run.head_branch }}

      - name: Tag version
        run: git tag ${{ github.event.inputs.version }} --force


      - name: Install pandoc
        run: sudo apt-get install pandoc

      - uses: actions/setup-python@v3
        with:
          python-version: '3.10'

      - name: Install dependencies
        run: |
          python -m pip install --upgrade pip
          pip install -r requirements.txt
          pip install -e .[docs]

      - name: Build
        run: jupyter-book build docs --path-output docs_build

      - name: Deploy
        uses: peaceiris/actions-gh-pages@v3
        with:
          deploy_key: ${{ secrets.ACTIONS_DEPLOY_KEY }}
          publish_dir: ./docs_build
