name: testing

on:
  push:

  pull_request:
    branches: [main]

jobs:
  lint:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3

      - uses: actions/setup-python@v4
        with:
          python-version: '3.8'
          cache: pip
          cache-dependency-path: pyproject.toml

      - uses: pre-commit/action@v3.0.0

  test:
    services:
      local_mongodb:
        image: mongo:4.0
        ports:
          - 27017:27017

    runs-on: ubuntu-latest
    strategy:
      matrix:
        python-version: ['3.8', '3.9', '3.10']

    steps:
      - uses: actions/checkout@v3
        with:
          fetch-depth: 0

      - uses: actions/setup-python@v4
        with:
          python-version: ${{ matrix.python-version }}
          cache: pip
          cache-dependency-path: pyproject.toml

      - name: Install dependencies
        run: |
          python -m pip install --upgrade pip
            pip install .[strict,tests]

      - name: Upload to Codecov
        run: |
          codecovcli create-commit
          codecovcli create-report
          codecovcli static-analysis --token=${{ env.STATIC_TOKEN }}
          BASE_COMMIT=$(git merge-base ${{ github.sha }}^ origin/main)
          codecovcli label-analysis --token=${{ env.STATIC_TOKEN }} --base-sha=${BASE_COMMIT}
          codecovcli --codecov-yml-path=codecov_cli.yml do-upload --plugin pycoverage --plugin compress-pycoverage --flag smart-tests --fail-on-error
        env:
          CODECOV_TOKEN: ${{ secrets.CODECOV_TOKEN }}
          STATIC_TOKEN: ${{ secrets.CODECOV_STATIC_TOKEN }}
      ## - uses: codecov/codecov-action@v3
      ##  if: matrix.python-version == '3.10'
      ##  with:
      ##    token: ${{ secrets.CODECOV_TOKEN }}
      ##    file: ./coverage.xml

  docs:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v3

      - uses: actions/setup-python@v4
        with:
          python-version: '3.10'
          cache: pip
          cache-dependency-path: pyproject.toml

      - name: Install dependencies
        run: |
          python -m pip install --upgrade pip
          pip install .[strict,docs]

      - name: Build
        run: sphinx-build docs docs_build

  automerge:
    needs: [lint, test, docs]
    runs-on: ubuntu-latest

    permissions:
      pull-requests: write
      contents: write

    steps:
      - uses: fastify/github-action-merge-dependabot@v3
