name: testing

on:
  push:
    branches: [main]
    tags: ["v*"]
  pull_request:
  workflow_dispatch:
  repository_dispatch:
    types: [pymatgen-ci-trigger]

jobs:
  lint:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4

      - uses: actions/setup-python@v5
        with:
          python-version: "3.9"
          cache: pip
          cache-dependency-path: pyproject.toml

      - uses: pre-commit/action@v3.0.0

  test:
    services:
      local_mongodb:
        image: mongo:4.0
        ports:
          - 27017:27017

    runs-on: ubuntu-latest
    strategy:
      matrix:
        python-version: ["3.9", "3.10", "3.11"]

    steps:
      - name: Check out repo
        uses: actions/checkout@v4

      - name: Set up micromamba
        uses: mamba-org/setup-micromamba@main

      - name: Create mamba environment
        run: |
          micromamba create -n a2 python=${{ matrix.python-version }} --yes


      - name: Install conda dependencies
        run: |
          micromamba install -n a2 -c conda-forge enumlib packmol bader openbabel openff-toolkit openff-interchange --yes

#      - name: Install enumlib
#        run: |
#          cd ..
#          git clone --recursive https://github.com/msg-byu/enumlib.git
#          cd enumlib/symlib/src
#          export F90=gfortran
#          make
#          cd ../../src
#          make enum.x
#          sudo mv enum.x /usr/local/bin/
#          cd ..
#          sudo cp aux_src/makeStr.py /usr/local/bin/
#        continue-on-error: true # This is not critical to succeed.

      - name: Install dependencies
        run: |
          micromamba activate a2
          python -m pip install --upgrade pip
          mkdir -p ~/.abinit/pseudos
          cp -r tests/test_data/abinit/pseudos/ONCVPSP-PBE-SR-PDv0.4 ~/.abinit/pseudos
          # ase needed to get FrechetCellFilter used by ML force fields
          pip install git+https://gitlab.com/ase/ase
          pip install .[strict,tests,abinit,classical_md]
          pip install torch-runstats
          pip install --no-deps nequip==0.5.6

      - name: Install pymatgen from master if triggered by pymatgen repo dispatch
        if: github.event_name == 'repository_dispatch' && github.event.action == 'pymatgen-ci-trigger'
        run: |
        micromamba activate a2
        pip install --upgrade 'git+https://github.com/materialsproject/pymatgen@${{ github.event.client_payload.pymatgen_ref }}'

      - name: Test
        env:
          MP_API_KEY: ${{ secrets.MP_API_KEY }}
        run: micromamba run -n a2 pytest --cov=atomate2 --cov-report=xml --ignore=tests/classical_md

      - uses: codecov/codecov-action@v1
        if: matrix.python-version == '3.10' && github.repository == 'materialsproject/atomate2'
        with:
          token: ${{ secrets.CODECOV_TOKEN }}
          file: ./coverage.xml

#  test_md:
#    services:
#      local_mongodb:
#        image: mongo:4.0
#        ports:
#          - 27017:27017
#
#    runs-on: ubuntu-latest
#    strategy:
#      matrix:
#        python-version: ["3.9", "3.10", "3.11"]
#
#    steps:
#      - uses: actions/checkout@v4
#
#      - uses: mamba-org/setup-micromamba@main
#
#      - name: Install dependencies
#        run: |
#          micromamba create -n atomate2 python=${{ matrix.python-version }} --yes
#          micromamba install -n atomate2 -c conda-forge --file .github/classical_md_requirements.txt --yes
#          micromamba run -n atomate2 pip install .[strict,tests,classical_md]
#
#      - name: Test
#        run: micromamba run -n atomate2 pytest tests/classical_md/ --cov=atomate2 --cov-report=xml
#
#      - uses: codecov/codecov-action@v1
#        if: matrix.python-version == '3.10' && github.repository == 'materialsproject/atomate2'
#        with:
#          token: ${{ secrets.CODECOV_TOKEN }}
#          file: ./coverage.xml

  docs:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v4

      - uses: actions/setup-python@v5
        with:
          python-version: "3.10"
          cache: pip
          cache-dependency-path: pyproject.toml

      - name: Install dependencies
        run: |
          python -m pip install --upgrade pip
          # ase needed to get FrechetCellFilter used by ML force fields
          pip install git+https://gitlab.com/ase/ase
          pip install .[strict,docs]

      - name: Build
        run: sphinx-build docs docs_build

  automerge:
    needs: [lint, test, docs]
    runs-on: ubuntu-latest

    permissions:
      pull-requests: write
      contents: write

    steps:
      - uses: fastify/github-action-merge-dependabot@v3
